@import '@/assets/scss/blocks/counter';

.ingredients__counter {
  width: 54px;
  margin-top: 10px;
  margin-left: 36px;
}
.cart-list__counter {
  width: 54px;
  margin-right: auto;
  margin-left: 20px;
}